
staticfiles/

templates/static/images/sorriso1.jpeg

templates/static/images/sorriso10.jpeg

templates/static/images/sorriso11.jpeg

templates/static/images/sorriso12.jpeg

templates/static/images/sorriso2.jpeg

templates/static/images/sorriso3.jpeg

templates/static/images/sorriso4.jpeg

templates/static/images/sorriso5.jpeg

templates/static/images/sorriso6.jpeg

templates/static/images/sorriso7.jpeg

templates/static/images/sorriso8.jpeg

templates/static/images/sorriso9.jpeg

.idea/
