{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>Maria Paula</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700, 900|Playfair+Display:400,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css'%}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css'%}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css'%}">

    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css'%}">

    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css'%}">

    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css'%}">

    <link rel="stylesheet" href="{% static 'css/aos.css'%}">

    <link rel="stylesheet" href="{% static 'css/style.css'%}">

  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300" id="home-section">


  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>


  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    <header class="site-navbar js-sticky-header site-navbar-target" role="banner" >

      <div class="container">
        <div class="row align-items-center">

          <div class="col-6 col-xl-2">
            <h1 class="mb-0 site-logo"><a href="{% url 'index' %}" class="h2 mb-0">Mah</a></h1>
          </div>

          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="#home-section" class="nav-link">Home</a></li>
                <li><a href="#training-section" class="nav-link">Fotos</a></li>
                <li><a href="#services-section" class="nav-link">Elogios</a></li>
                <li><a href="#contact-section" class="nav-link">Momentos</a></li>
              </ul>
            </nav>
          </div>


          <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a></div>

        </div>
      </div>

    </header>


    <section class="site-blocks-cover overflow-hidden">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 align-self-center">

            <div class="row">
              <div class="col-lg-11">

                <h1>Você é <span class="typed-words"></span></h1>
                <p>Uma deusa, uma louca, uma feiticeira, você é demais.</p>
              </div>

            </div>
          </div>

        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-12" style="margin-top: -7%;">
            <div class="slide-one-item home-slider owl-carousel">
              <img style="max-height:450Px; width:auto; margin:auto;" src="{% static 'images/slider_main11.jpeg'%}" alt="Free Website Template by Free-Templat.co" class="img-fluid img">
              <img style="max-height:450Px; width:auto; margin:auto;" src="{% static 'images/slider_main21.jpeg'%}" alt="Free Website Template by Free-Templat.co" class="img-fluid img">
              <img style="max-height:450Px; width:auto; margin:auto;" src="{% static 'images/slider_main31.jpeg'%}" alt="Free Website Template by Free-Templat.co" class="img-fluid img">
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="site-section bg-light" id="training-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-7 text-center">
            <h2 class="text-black">Melhores Fotos</h2>
            <p>Dificil escolher as melhores porqeuê você está linda em todas, e eu gosto de todas, mas aqui estão algumas das que eu mais gosto, se sinta linda porquê você é muito</p>
          </div>
        </div>

        <div class="nonloop-block-13 owl-style owl-carousel">
          <div class="training">
            <figure class="mb-4"><img style="max-height:300px; width:auto;" src="{% static 'images/gata.jpeg'%}" alt="Free website template by Free-Template.co" class="img-fluid"></figure>
            <h3 class="text-black mb-3">Gata</h3>
            <p>Você é a pessoa mais gata do mundo, seu sorriso, seu rosto, seus olhos, sua boca, seu nariz (amo ele demais), seu rosto inteiro, você é gata demais, amor da minha vida</p>
          </div>

          <div class="training">
            <figure class="mb-4"><img style="max-height:300px; width:auto;" src="{% static 'images/sorriso.jpeg'%}" alt="Free website template by Free-Template.co" class="img-fluid"></figure>
            <h3 class="text-black mb-3">Sorriso</h3>
            <p>Essa é para te mostrar como você tem o sorriso mais lindo do mundo, mostrar que seu sorriso é capaz de fazer o dia de qualquer um melhor e de me fazer feliz</p>
          </div>

          <div class="training">
            <figure class="mb-4"><img style="max-height:300px; width:auto;" src="{% static 'images/dentista.jpeg'%}" alt="Free website template by Free-Template.co" class="img-fluid"></figure>
            <h3 class="text-black mb-3">Dentista</h3>
            <p>Tenho orgulho demais por tudo o que você conquistou e que irá conquistar ainda, você é incrivel, inteligente e conquistará o mundo, você será uma dentista incrível e maravilhosa</p>
          </div>

          <div class="training">
            <figure class="mb-4"><img style="max-height:300px; width:auto;" src="{% static 'images/lingua.jpeg'%}" alt="Free website template by Free-Template.co" class="img-fluid"></figure>
            <h3 class="text-black mb-3">Lingua</h3>
            <p>Sua lingua é demais, seu bjo é incrivel, bom você me excita só com ele né rsrs seu beijo é incrivel mesmo</p>
          </div>

          <div class="training">
            <figure class="mb-4"><img style="max-height:300px; width:auto;" src="{% static 'images/sexy.jpeg'%}" alt="Free website template by Free-Template.co" class="img-fluid"></figure>
            <h3 class="text-black mb-3">Sexy</h3>
            <p>Só para te provar o quanto você é sexy, você é demais mesmo, sexy, sensual, gata e maravilhosa, te agarraria e te agarrarei a vida inteira, sexy demais mesmo</p>
          </div>

          <div class="training">
            <figure class="mb-4"><img style="max-height:300px; width:auto;" src="{% static 'images/gatinho.jpeg'%}" alt="Free website template by Free-Template.co" class="img-fluid"></figure>
            <h3 class="text-black mb-3">Gatinho</h3>
            <p>Mesmo terem te falado que seu rosto nao dava para fazer gatinho, seu gatinho é o mais lindo que existe e consegue deixar seu rosto ainda mais lindo, gatissima</p>
          </div>

          <div class="training">
            <figure class="mb-4"><img style="max-height:300px; width:auto;" src="{% static 'images/corpo.jpeg'%}" alt="Free website template by Free-Template.co" class="img-fluid"></figure>
            <h3 class="text-black mb-3">Corpo</h3>
            <p>Seu corpo é o mais lindo e sexy do mundo, que bunda lindissima (sei cada detalhe rsrs), peitos lindissimos demais, pernas entao mdss, como vc é linda!! Que corpao</p>
          </div>

          <div class="training">
            <figure class="mb-4"><img style="max-height:300px; width:auto;" src="{% static 'images/pescoco.jpeg'%}" alt="Free website template by Free-Template.co" class="img-fluid"></figure>
            <h3 class="text-black mb-3">Pescoço</h3>
            <p>Rsrs só queria dizer que seu pescoço é lindo e eu amo bjar ele, sorry pelas marcas, mas é bom demais dar chupao no pescoço</p>
          </div>
        </div>

      </div>
    </section>



    <section class="site-section" id="services-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-7 text-center">
            <h2 class="text-black">Elogios</h2>
            <p>Impossível colocar todos os elogios que você merece aqui, se não eu ia ficar o ano inteiro colocando, mas aqui estão alguns, clique no botão que ele te mostra um elogio</p>
          </div>
          <div class="col-md-7 text-center">
            <a onclick="gerarElogio()" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false" class="btn btn-success">Eu sou?</a>
          </div>
          </div>

        <div id="elogios" class="row mb-5 justify-content-center">
          <p id="elogios_p"></p>
        </div>

      </div>
    </section>

    <section class="site-section" id="gallery-section">
      <div class="container-fluid">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-7 text-center">
            <h2 class="text-black">Gallery</h2>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
          </div>
        </div>

        <div class="row">

            <a class="col-6 col-md-6 col-lg-4 col-xl-3 gal-item d-block" data-aos="fade-up" data-aos-delay="100" href="images/coach_1_sm.jpg" data-fancybox="gal"><img src="images/coach_1_sm.jpg" alt="Free Website Template by Free-Template.co" class="img-fluid"></a>

            <a class="col-6 col-md-6 col-lg-4 col-xl-3 gal-item d-block" data-aos="fade-up" data-aos-delay="100" href="images/coach_2_sm.jpg" data-fancybox="gal"><img src="images/coach_2_sm.jpg" alt="Free Website Template by Free-Template.co" class="img-fluid"></a>

            <a class="col-6 col-md-6 col-lg-4 col-xl-3 gal-item d-block" data-aos="fade-up" data-aos-delay="100" href="images/coach_3_sm.jpg" data-fancybox="gal"><img src="images/coach_3_sm.jpg" alt="Free Website Template by Free-Template.co" class="img-fluid"></a>

            <a class="col-6 col-md-6 col-lg-4 col-xl-3 gal-item d-block" data-aos="fade-up" data-aos-delay="100" href="images/coach_2_sm.jpg" data-fancybox="gal"><img src="images/coach_2_sm.jpg" alt="Free Website Template by Free-Template.co" class="img-fluid"></a>

            <a class="col-6 col-md-6 col-lg-4 col-xl-3 gal-item d-block" data-aos="fade-up" data-aos-delay="100" href="images/coach_1_sm.jpg" data-fancybox="gal"><img src="images/coach_1_sm.jpg" alt="Free Website Template by Free-Template.co" class="img-fluid"></a>

            <a class="col-6 col-md-6 col-lg-4 col-xl-3 gal-item d-block" data-aos="fade-up" data-aos-delay="100" href="images/coach_2_sm.jpg" data-fancybox="gal"><img src="images/coach_2_sm.jpg" alt="Free Website Template by Free-Template.co" class="img-fluid"></a>

            <a class="col-6 col-md-6 col-lg-4 col-xl-3 gal-item d-block" data-aos="fade-up" data-aos-delay="100" href="images/coach_1_sm.jpg" data-fancybox="gal"><img src="images/coach_1_sm.jpg" alt="Free Website Template by Free-Template.co" class="img-fluid"></a>

            <a class="col-6 col-md-6 col-lg-4 col-xl-3 gal-item d-block" data-aos="fade-up" data-aos-delay="100" href="images/coach_2_sm.jpg" data-fancybox="gal"><img src="images/coach_2_sm.jpg" alt="Free Website Template by Free-Template.co" class="img-fluid"></a>

            <a class="col-6 col-md-6 col-lg-4 col-xl-3 gal-item d-block" data-aos="fade-up" data-aos-delay="100" href="images/coach_3_sm.jpg" data-fancybox="gal"><img src="images/coach_3_sm.jpg" alt="Free Website Template by Free-Template.co" class="img-fluid"></a>

            <a class="col-6 col-md-6 col-lg-4 col-xl-3 gal-item d-block" data-aos="fade-up" data-aos-delay="100" href="images/coach_2_sm.jpg" data-fancybox="gal"><img src="images/coach_2_sm.jpg" alt="Free Website Template by Free-Template.co" class="img-fluid"></a>

            <a class="col-6 col-md-6 col-lg-4 col-xl-3 gal-item d-block" data-aos="fade-up" data-aos-delay="100" href="images/coach_1_sm.jpg" data-fancybox="gal"><img src="images/coach_1_sm.jpg" alt="Free Website Template by Free-Template.co" class="img-fluid"></a>

            <a class="col-6 col-md-6 col-lg-4 col-xl-3 gal-item d-block" data-aos="fade-up" data-aos-delay="100" href="images/coach_2_sm.jpg" data-fancybox="gal"><img src="images/coach_2_sm.jpg" alt="Free Website Template by Free-Template.co" class="img-fluid"></a>

        </div>
      </div>
    </section>


    <section class="site-section" id="testimonials-section" data-aos="fade">
      <div class="container">

        <div class="row justify-content-center" data-aos="fade-up">
          <div class="col-lg-6 text-center mb-5">
            <h2 class="text-black mb-2">Happy Customers</h2>
          </div>
        </div>
        <div  data-aos="fade-up" data-aos-delay="200">
          <div class="owl-carousel owl-style owl-carousel-one no-owl-nav">
            <div>
              <div class="block-testimony-1 text-center">

                <blockquote class="mb-4">
                  <p>&ldquo;The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.&rdquo;</p>
                </blockquote>

                <figure>
                  <img src="images/person_4.jpg" alt="Image" class="img-fluid rounded-circle mx-auto">
                </figure>
                <h3 class="font-size-20 text-black">Ricky Fisher</h3>
              </div>
            </div>

            <div>
              <div class="block-testimony-1 text-center">



                <blockquote class="mb-4">
                  <p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.&rdquo;</p>
                </blockquote>

                <figure>
                  <img src="images/person_2.jpg" alt="Image" class="img-fluid rounded-circle mx-auto">
                </figure>
                <h3 class="font-size-20 mb-4 text-black">Ken Davis</h3>


              </div>
            </div>

            <div>
              <div class="block-testimony-1 text-center">


                <blockquote class="mb-4">
                  <p>&ldquo;A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.&rdquo;</p>
                </blockquote>

                <figure>
                  <img src="images/person_1.jpg" alt="Image" class="img-fluid rounded-circle mx-auto">
                </figure>
                <h3 class="font-size-20 text-black">Mellisa Griffin</h3>


              </div>
            </div>

            <div>
              <div class="block-testimony-1 text-center">


                <blockquote class="mb-4">
                  <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
                </blockquote>

                <figure>
                  <img src="images/person_3.jpg" alt="Image" class="img-fluid rounded-circle mx-auto">
                </figure>
                <h3 class="font-size-20 mb-4 text-black">Robert Steward</h3>


              </div>
            </div>


          </div>
        </div>
      </div>
    </section>

    <section class="site-section" id="blog-section">
      <div class="container">
        <div class="row justify-content-center" data-aos="fade-up">
          <div class="col-lg-6 text-center mb-5">

            <h2 class="text-black mb-2">Our Blog</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-4" data-aos="fade-up"  data-aos-delay="">
            <div class="d-lg-flex blog-entry">
              <figure class="mr-4">
                <a href="single.html"><img src="images/coach_1_sm.jpg" alt="Free Website Template by Free-Template.co" class="img-fluid rounded"></a>
              </figure>
              <div class="blog-entry-text">
                <h3><a href="single.html">Unleash Your Potential With These 5 Tips</a></h3>
                <span class="post-meta mb-3 d-block">April 17, 2019</span>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p><a href="#" class="">Read More..</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-4" data-aos="fade-up"  data-aos-delay="100">
            <div class="d-lg-flex blog-entry">
              <figure class="mr-4">
                <a href="single.html"><img src="images/coach_2_sm.jpg" alt="Free Website Template by Free-Template.co" class="img-fluid rounded"></a>
              </figure>
              <div class="blog-entry-text">
                <h3><a href="single.html">Unleash Your Potential With These 5 Tips</a></h3>
                <span class="post-meta mb-3 d-block">April 17, 2019</span>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p><a href="#" class="">Read More..</a></p>
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-4" data-aos="fade-up"  data-aos-delay="">
            <div class="d-lg-flex blog-entry">
              <figure class="mr-4">
                <a href="single.html"><img src="images/coach_3_sm.jpg" alt="Free Website Template by Free-Template.co" class="img-fluid rounded"></a>
              </figure>
              <div class="blog-entry-text">
                <h3><a href="single.html">Unleash Your Potential With These 5 Tips</a></h3>
                <span class="post-meta mb-3 d-block">April 17, 2019</span>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p><a href="#" class="">Read More..</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-4" data-aos="fade-up"  data-aos-delay="100">
            <div class="d-lg-flex blog-entry">
              <figure class="mr-4">
                <a href="single.html"><img src="images/coach_2_sm.jpg" alt="Free Website Template by Free-Template.co" class="img-fluid rounded"></a>
              </figure>
              <div class="blog-entry-text">
                <h3><a href="single.html">Unleash Your Potential With These 5 Tips</a></h3>
                <span class="post-meta mb-3 d-block">April 17, 2019</span>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p><a href="#" class="">Read More..</a></p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

  </div> <!-- .site-wrap -->

  <script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
  <script src="{% static 'js/jquery-ui.js'%}"></script>
  <script src="{% static 'js/popper.min.js'%}"></script>
  <script src="{% static 'js/bootstrap.min.js'%}"></script>
  <script src="{% static 'js/owl.carousel.min.js'%}"></script>
  <script src="{% static 'js/jquery.countdown.min.js'%}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js'%}"></script>
  <script src="{% static 'js/aos.js'%}"></script>
  <script src="{% static 'js/jquery.fancybox.min.js'%}"></script>
  <script src="{% static 'js/jquery.sticky.js'%}"></script>
  <script src="{% static 'js/isotope.pkgd.min.js'%}"></script>

  <script src="{% static 'js/typed.js'%}"></script>
            <script>
            var typed = new Typed('.typed-words', {
            strings: ["Sexy demais sim","Linda para caralho","Amor da minha vida", "Fodissima, Inteligente"],
            typeSpeed: 80,
            backSpeed: 80,
            backDelay: 4000,
            startDelay: 1000,
            loop: true,
            showCursor: true
            });
            </script>

  <script src="{% static 'js/main.js'%}"></script>
  <script src="{% static 'js/elogio.js'%}"></script>

  </body>
</html>